
html {
  font-size: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  display: flex;
  font-size: 4em;
  font-family: "Corline Signature", "Brush Script MT", cursive;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  background-image: url(background-ocean.jpg);
  height: 5em;
}


.menu {
  background-color: #696969;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tab {
  color:#FFFFFF;
  font-family: "Corline Signature", "Brush Script MT", cursive;
  font-size: 3.25em;
  width: 31%;
  margin: 40px 1.15%;
  justify-content: space-between;
  align-items: center;

}

.aboutme,
.portfolio {
  align-items: right;
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 3em;
  margin-bottom: 5em;
  font-family: "Avenir Next Condensed", "Arial", sans-serif;
  color: #00BFFF
}

.image,
.portimages {
  float: left;
  margin-top: 3em;
  margin-left: 3.5em;
  margin-bottom: 3em;
  padding: 2em;
}

h2, p {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  align-items: right;
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 3em;
  font-family: "Avenir Next Condensed", "Arial", sans-serif;
  color: #00BFFF
}

h2 {
  font-size: 2.75em;
}

p {
  font-size: 2em;
  padding-bottom: 2em;
}
