

body {
  color: #20B2AA; /*Light sea green*/
  background-image: image("background-ocean.jpg");
  font-size: 12px;
}

h1 {
  display: flex;
  font-size: 5em;
  font-family: "Corline Signature", "Brush Script MT", cursive;
  justify-content:center;
}

h2 {
  font-size: 3.6em;
}

h2 {
  font-family: "Corline Signature", "Brush Script MT", cursive;
}


.menu-container {
  background color: #20B2AA
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs {
  border: 1px solid #fff;
  background color: #202BAA;
  height: 200px;
  flex: 1;
}

.bio,
.writing,
.design {
  font-family: "Corline Signature", "Brush Script MT", cursive;
  font-size: 2.4em;
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
}

.aboutme {
  float: right;
  font-size: 1.6em;
}
